<h1>{{title}}</h1>
<p>Upload new CSV File:</p>
<form action="/adminViews/retrainCreditRatingModel">
  Select a file: <input type="file" name="myFile"><br><br>
  <input type="submit">
</form>

<p>The format of your file should follow these headers:</p>
<img src="https://i.imgur.com/cng6FhE.jpg" alt="A: NRIC, B: Age, C: Race, D: Sex, E: Nation, F: Address, G: Tel, H: Status">