<style type="text/css">
    td {border:3px solid silver; padding: 15px}
    table {border-collapse: collapse; margin-left: 400px}
    body {text-align: center; background-color: aliceblue}
    img {width: 400px}
</style>

<body>

    <h2> Retrain Credit Rating Model </h2> <br>
    <h3>{{title}}</h3>

    <!-- Upload  -->
    <form action="http://0.0.0.0:5000/retrainCreditRatingModel">
      <form id="file-upload-form" class="uploader">
        <input id="file-upload" type="file" name="fileUpload" />
      </form>
    </form>

    <p>The format of your file should follow these headers:</p>
    <table>
        <tr>
            <td>NRIC</td> <td>Age</td> <td>Race</td> <td>Sex</td> <td>Nation</td> <td>Address</td> <td>Telephone</td> <td>Status</td>
        </tr>
    </table>
    <br>
    <input type="submit">
    <br><br>
</body>