<style type="text/css">
    td {border:3px solid silver; padding: 15px}
    table {border-collapse: collapse; margin-left: 635px}
    body {text-align: center; background-color: aliceblue}
    img {width: 400px}
</style>

<body>

    <img src="../feLogo.jpg" alt="fundExpressLogo">

    <h2>Update Watch Prices</h2>
    <h3>{{title}}</h3>

    <form action="/action_page.php">
        Select a file: <input type="file" name="myFile"><br><br>

        <p>The format of your file should follow these headers:</p>
        <table>
            <tr>
                <td>Brand</td> <td>Value</td>
            </tr>
        </table>
        <br><br>
        <input type="submit">
    </form>
</body>