<h1>{{title}}</h1>
<p>The current first month interest rate is: {{currentFirstMonthRate}}%<br>
The current remaining months interest rate is: {{currentNormalRate}}%<br>
Rates last updated on: {{dateUpdated}}</p>

<h2>Update the Interest Rates:</h2>

<form action="/adminViews/updateInterestRate">
  New first month interest rate:<br>
  <input type="double" name="newFirstMonthRate"><br>
  New normal rate:<br>
  <input type="double" name="newNormalRate"><br>
<input type="submit">
</form>