<h1>{{title}}</h1>
<p>Upload new CSV File:</p>
<form action="/action_page.php">
  Select a file: <input type="file" name="myFile"><br><br>
  <input type="submit">
</form>

<p>The format of your file should follow these headers:</p>
<img src="https://i.imgur.com/k0SH3El.jpg" alt="A: Brand, B: Value">